$color-primary: hsl(25, 97%, 53%);

$color-header: hsl(0, 0, 100%);
$color-text: hsl(217, 12%, 63%);
$color-text: hsl(216, 12%, 54%);
// linear gradient
$color-bg: hsl(213, 19%, 18%);
$color-bg-secondary: hsl(216, 12%, 8%);

$font-size: 15px;

$padding-mobile: 24px;

$width-card: 325px;
$height-card: 360px;
